@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

h2.cv {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    margin-top: 1cm;
}

div.cv {
    margin-bottom: 1cm;
}

header {
    margin-bottom: 1cm;
}

div.cv-side {
    background-color: rgb(240, 240, 240);
}

#profil {
    border-radius: 100%;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
}

div.cv-item {
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 1px;
}

footer {
    background: rgb(10, 100, 200) !important;
    color: rgb(255, 255, 255);
}

ul.social li{
    padding: 3px 0;
}

ul.social li i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

ul.social li a{
    color: rgb(255, 255, 255);
}

