footer {
    display: grid;
    place-items: center;
    background-color: var(--background-secondary);
    padding: 0% 5%;
    color: white;
}

footer p {
    font-size: 14pt;
    padding-bottom: 1%;
}