nav {
    background-color: rgb(10, 100, 200);
}

.card {
    width: 18rem;
}

#portrait {
    width: 25%;
    height: auto;
    margin-left: 1%;
    margin-right: auto;
    display: block;
}