:root {
    color-scheme: light dark;
    --text-secondary: #1973D9;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-primary: #000000;
        --background-primary: #FFFFFF;
        --background-secondary: #1973D9;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-primary: #f2f2f2;
        --background-primary: #2a2a2e;
        --background-secondary: #1973D9;
    }
}

html {
    font-family: 'Poppins', sans-serif;
    color: var(--text-primary);
    background-color: var(--background-primary);
}

body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

h1 {
    color: var(--text-secondary);
    font-size: 30pt;
}

.d-flex {
    display: flex;
}

.container{
    margin: 0 10%;
}

.navbar {
    background-color: var(--background-secondary);
    justify-content: space-between;
    padding: 0 5%;
}

.navbar a {
    text-decoration: none;
}

.navbar .nav {
    justify-content: flex-end;
}

.navbar ul {
    margin: 0;
    padding: 30px;
}

.navbar li {
    display: inline;
    list-style: none;
    margin-right: 25px;
    position: relative;
}

.navbar li a:hover {
    font-weight: bolder;
}

.navbar ul.nav a {
    font-size: 15pt;
    color: white;
    font-weight: bold;
    line-height: 1.936;
    text-align: left;
    white-space: nowrap;
}

.navbar ul.nav a:hover {
    color: fc0;
}

.navbar-fixed-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 99999;
}

.logo {
    display: grid;
    place-items: center;
    color: white;
    font-size: 30px;
}

.logo img {
    border-radius: 100%;
}

.logo a {
    white-space: nowrap;
}

.centered {
    display: grid;
    place-items: center;
}

section {
    margin: 0 10%;
    padding: 1%;
}

footer {
    display: grid;
    place-items: center;
    background-color: var(--background-secondary);
    padding: 0% 5%;
    color: white;
}

footer p {
    font-size: 14pt;
    padding-bottom: 1%;
}

.icons ul {
    margin: 0;
    padding: 30px;
}

.icons li {
    display: inline;
    list-style: none;
    margin-right: 24px;
    position: relative;
}

.icons li a{
    color: rgb(225, 225, 225);
}

.icons li a:hover{
    color: white;
}

#intro {
    display: flex;
    flex-wrap: wrap;
}

#intro div {
    margin: 10px;
    flex: 1 1 150px;
}