:root {
    color-scheme: light dark;
    --text-secondary: #1973D9;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-primary: #000000;
        --background-primary: #FFFFFF;
        --background-secondary: #1973D9;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-primary: #f2f2f2;
        --background-primary: #2a2a2e;
        --background-secondary: #1973D9;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    color: var(--text-primary);
    background-color: var(--background-primary);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 {
    color: var(--text-secondary);
    font-size: 30pt;
}

header {
    background-color: var(--background-secondary);
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000000;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    white-space: nowrap;
}

.logo {
    display: grid;
    place-items: center;
    color: white;
    font-size: 30px;
}
.logo img {
    border-radius: 100%;
}

nav ul {
    margin: 0;
    padding: 30px;
}

nav li {
    display: inline;
    margin-right: 25px;
    position: relative;
}
nav a:hover {
    font-weight: bolder;
}

section {
    margin: 0 10%;
    padding: 1%;
}

#intro {
    display: flex;
    flex-wrap: wrap;
}
#intro div {
    margin: 10px;
    flex: 1 0 150px;
}

.icons {
    margin: 0;
    padding: 10px;
    padding-left: 0;
}
.icons li {
    display: inline;
    margin-right: 25px;
    position: relative;
}
.icons a {
    color: var(--text-primary);
}

a.fb:hover{
    color:#1877f2;
}
a.lin:hover{
    color:#0077b5;
}
a.ghub:hover{
    color:#181717;
}

.cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(200, 200, 200, 0.7),
        rgba(200, 200, 200, 0.3)
    );
    backdrop-filter: blur(2rem);
}

.card-img img {
    margin: 1rem 0;
    height: 100px;
    width: 100%;
}

.button {
    color: white;
    background-color: #1973D9;
    padding: 10px;
    width: max-content;
    text-decoration: none;
}
.button:hover {
    background-color: #207AE0;
}
.button a:visited {
    color: white;
    text-decoration: none;
}